/**
 * Singularuty greed definition.
 */

$grids: 6;
$gutters: 20px;
$gutter-styles: 'fixed';

/**
 * Breakpoints.
 */

$menu-structure: 580px;
$menu-equal-width: 700px;
$menu-desk: 1000px;

$mobile-l: 481px;
$tablet-p: 601px;
$tablet-l: 801px;
$desk: 1000px;

/**
 * Misc variables.
 */

$page-max-width: 1164px;