/**
 * Base font size and line height
 */
 
$base-font-size: 16px;
$base-line-height: 20px;

/**
 * Heading sizes
 */

$h1-font-size: 20px;
$h2-font-size: 20px;
$h3-font-size: 20px;
$h4-font-size: $base-font-size;
$h5-font-size: $base-font-size;
$h6-font-size: $base-font-size;